<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wristband Designer</title>
</head>
<body>
    
    <h1>Wristband Designer</h1>

    <div>User: Welcome <b>${user_name}</b>. Lets get designing</div>

    <ul>
        <li>Upload your image</li>
        <li>Input your text</li>
        <li>layout your wristband</li>
    </ul>


</body>
</html>